<svg width="125" height="32" viewBox="0 0 125 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="88" height="31" fill="$background"/>
<rect y="24" width="88" height="7" fill="$textColor"/>
<text fill="$brandColor" xml:space="preserve" style="white-space: pre" font-family="sans-serif" font-size="8" letter-spacing="0em"><tspan x="39" y="30.2344">randos.online</tspan></text>
<text fill="$textColor" xml:space="preserve" style="white-space: pre" font-family="sans-serif" font-size="10" letter-spacing="0em"><tspan x="2" y="9.41797">$views views</tspan></text>
<text fill="$textColor" xml:space="preserve" style="white-space: pre" font-family="sans-serif" font-size="10" letter-spacing="0em"><tspan x="2" y="21.418">$username</tspan></text>
</svg>
