<svg width="88" height="31" viewBox="0 0 88 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="88" height="31" fill="#FF9E4B"/>
<rect y="22" width="88" height="9" fill="#542800"/>
<text fill="#E5E5E5" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="8" letter-spacing="0em"><tspan x="54" y="29.2344">code|ring</tspan></text>
<text fill="#542800" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="8" letter-spacing="0em"><tspan x="3" y="7.23438">@$username</tspan></text>
<text fill="#542800" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="11" letter-spacing="0em"><tspan x="3" y="19.2598">$views views</tspan></text>
</svg>
